.footer-left {
  position: relative;
  flex-grow: 1;
  pointer-events: none;
  display: flex;
  margin-left: 15px;
  margin-bottom: 30px;
  color: white;
}

.ticker {
  display: flex;
  align-items: center;
  height: fit-content;
  width: 60%;
}

.ticker marquee {
  display: flex;
  align-items: center;
}

.text {
  width: 100%;
}

.text h3 {
  padding-bottom: 20px;
}

.text p {
  padding-bottom: 20px;
}
